.input {
	display: flex;
	flex-direction: column;

	&__input {
		height: 30px;
		border: 0;
		border-bottom: 1px solid lightblue;
		margin-bottom: 10px;
	}

	&__label {
		color: darkgray;
		font-size: 15px;
	}

	&__error {
		color: red;
		height: 15px;
	}
}