.chats {
	display: flex;
	height: 100vh;

	&__left_bar {
		min-width: 300px;
		width: 300px;
		border-right: 1px solid gray;
		height: 100%;
		display: flex;
		flex-direction: column;

		&__profile_link {
			padding: 20px 10px;
			text-align: right;
			align-self: right;
		}

		&__search_input {
			margin: 0 10px;
			height: 30px;
			border: 1px solid lightgrey;
			padding: 5px;
			border-radius: 5px;
			margin-bottom: 20px;
		}

		&__chats_list {
			height: 100%;
			overflow-y: auto;
			margin: 0 10px;
			border-top: 1px solid lightgray;

			&__item {
				height: 70px;
				border-bottom: 1px solid lightgray;
			}
		}
	}

	&__window {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 0 10px;

		&__header {
			display: flex;
			flex-direction: row;
			width: 100%;
			height: 50px;
			min-height: 50px;
			border-bottom: 1px solid gray;
			align-items: center;

			&__photo {
				height: 35px;
				width: 35px;
				min-width: 35px;
				border-radius: 50%;
				background-color: gray;
				margin-left: 5px;
			}

			&__name {
				width: 100%;
				font-weight: 700;
				padding: 0 15px;
			}

			&__options {
				padding-right: 15px;
				font-size: 30px;
				font-weight: 900;
			}
		}

		&__messages {
			height: 100%;
			border-bottom: 1px solid gray;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			overflow-y: auto;

			&__message {
				padding: 10px 15px;
				max-width: 50px;
				border-radius: 5px;
				margin: 10px 0;

				&__message_user {
					background-color: lightblue;
					align-self: end;
				}

				&__message_guest {
					background-color: lightgrey;
				}
			}
		}

		&__footer {
			min-height: 50px;
			height: 50px;
			display: flex;
			flex-direction: row;
			padding: 10px 10px;
			align-items: center;

			&__attach_icon {
				font-size: 25px;
				color: gray;
				margin-right: 15px;
			}

			&__message_input {
				border: 1px solid gray;
				padding: 0 15px;
				border-radius: 15px;
				height: 35px;
				width: 100%;
				margin-right: 15px;
			}

			&__send_button {
				border-radius: 3px;
				height: 30px;
				width: 30px;
				margin-right: 10px;
			}
		}
	}
}

.chat_item {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.border {
	border: 1px solid red;
}