---
stylessheets:
	- scss/index.scss
title: Project
---
{{!< layout}}

<div style="display: flex; height: 100%">
	<div style="width: 400px; display: flex; align-items: center; border-right: 1px solid gray; justify-content: center"> Заглушка для списков</div>
	<div style="width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column;">
		Заглушка для чата
		<a href="./pages/auth.hbs">Ссылка на авторизацию</a>
		<a href="./pages/registration.hbs">Ссылка на регистрацию</a>
		<a href="./pages/profile.hbs">Ссылка на профиль</a>
		<a href="./pages/5xx.hbs">Ссылка на 500ые ошибки</a>
		<a href="./pages/4xx.hbs">Ссылка на 400ые ошибки</a>
	</div>
</div>
